[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ipython = "*"
geocoder = "*"
flask = "*"
redis = "*"
rq = "*"
webargs = "*"
# pin apispec to prevent flasgger incompatibility:
# https://github.com/rochacbruno/flasgger/issues/285
apispec = "==1.0.0b5"
flasgger = "*"
gunicorn = "*"

mypy = "*"
flake8 = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
fakeredis = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true